* {
    box-sizing: border-box;
}

html {
    font-family: lato-regular, sans-serif;
}

body {
    margin: 0;
    /* overflow-x: hidden; */
}

@font-face {
    font-family: eurofurence regular;
    src: url(/fonts/eurof55/eurof55.woff);
}

@font-face {
    font-family: lato-bold;
    src: url(/fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: champagne-limousines-bold;
    src: url(/fonts/champagne_limousines/Champagne\ &\ Limousines\ Bold.ttf);
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    /* display: none; */
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

.btn-menu-close {
    display: none;
}

body.menu-open .main-screen {
    /* display: block; */
    pointer-events: auto;
    opacity: 1;
}


/* Nav-bar */

.main-header {
    background: #292929;
    justify-self: stretch;
    color: #dfdfdf;
    margin: 0;
    border-bottom: 0.375rem solid #1e1e1e;
}


/* logo */

.logo {
    font-family: eurofurence regular, sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

.logo span {
    color: greenyellow;
}


/* head logo */

.main-header .logo {
    align-self: center;
    border-right: none;
    margin-right: 2em;
}

.main-nav {
    font-family: lato-bold, sans-serif;
}

.main-header .main-nav>* {
    width: 8.3125rem;
    text-align: center;
    vertical-align: middle;
    border-left: 0.5px #1e1e1e solid;
    padding-top: 3.3125rem;
    padding-bottom: 3.3125rem;
    cursor: pointer;
}

.main-header .main-nav:last-child {
    border-right: 0.5px #1e1e1e solid;
}

.main-header .main-nav>a:hover {
    box-shadow: none;
    color: #58C93A;
    text-decoration: none;
}

.main-header .main-nav a {
    text-decoration: unset;
    color: #dfdfdf;
}

.main-header .main-nav a:focus {
    box-shadow: 0 6px 0px 0px #58C93A;
    /* color: #58C93A; */
}

.nav-border {
    border: 0.5px #1e1e1e solid;
    border-top: none;
    border-left: none;
    border-right: none
}

.btn-menu {
    display: none;
}


/* main content */


/* .main-content {} */

h2,
button {
    font-family: lato-bold, sans-serif;
}

.main-layout {
    margin: 0 auto;
    padding-right: 15%;
    /* padding-right: 16.1875rem; */
    padding-left: 10%;
    /* padding-left: 16.3125rem; */
    flex-direction: row;
}

.main-body {
    border: 1px #E1E0E0 solid;
    flex-direction: column;
    border: 1px #E1E0E0 solid;
    flex-grow: 2
}


/* cards */

.card .content {
    flex-direction: column;
    padding-right: 2.5rem;
    flex-basis: 50%;
}

.card {
    margin-bottom: 5rem;
    gap: 2.5rem;
}

.card h2 {
    margin-top: 0;
}

.main-body:first-child {
    padding-top: 5rem
}

.card .image {
    align-self: flex-start;
    flex-basis: 50%;
    max-width: 29.3125rem;
    min-width: 18.75rem;
}

.card .card-btn {
    font-family: Lato-Bold, sans-serif;
    font-size: 1em;
    color: #c2c2c2;
    border: 1px solid #c2c2c2;
    border-radius: 1.31em;
    padding: 0 1em;
    line-height: 2.5em;
    background-color: white;
    align-self: flex-start;
    cursor: pointer;
    position: relative;
    transition: padding .4s;
}

.card .card-btn:hover {
    color: #58c93a;
    border-color: #58c93a;
    padding-inline-end: 2.25em;
}

.card .card-btn::after {
    content: " →";
    position: absolute;
    right: .625em;
    opacity: 0;
    transition: opacity .4s;
}

.card .card-btn:hover::after {
    content: " →";
    opacity: 1;
}


/* prev-next */

.prev-next {
    font-family: champagne-limousines-bold, sans-serif;
    font-size: 1.125rem;
    margin-right: 15%;
    margin-left: 10%;
    border: 1px #E1E0E0 solid;
    padding-inline-end: 1.6875rem;
    padding-inline-start: 1.6875rem;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    color: #818181;
}

.next:hover,
.prev:hover {
    cursor: pointer;
    color: #1e1e1e;
    font-weight: 600;
}

.prev-next img {
    object-fit: contain;
}

.prev-next .arrow-right,
.card-btn img {
    transform: rotate(180deg);
    margin-left: 0.625rem;
}

.prev-next .arrow-left {
    margin-right: 0.625rem;
}


/* footer */

footer {
    background-color: #F8F8F8;
    padding-top: 4.9375rem;
    padding-bottom: 4.9375rem;
}

.credits,
footer .logo {
    padding-bottom: 1.875rem;
}

footer .social-icons img {
    width: 2.5625rem;
    object-fit: cover;
    filter: grayscale(100%);
    cursor: pointer;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

footer .social-icons img:last-child {
    margin-left: 1.25rem;
    margin-right: 0;
}

footer .social-icons img:first-child {
    margin-left: 0
}

footer .social-icons img:hover {
    filter: grayscale(0%);
}


/* Helpers */


/* padding helper */

.txt-align {
    text-align: center;
}


/* flex helpers */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}


/* List Helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* media Querries */

@media (max-width: 1300px) {
    .main-header .main-nav>* {
        padding-top: 2.3125rem;
        padding-bottom: 2.3125rem;
    }
    .card {
        flex-direction: row;
    }
    .main-body,
    .prev-next {
        border: none;
    }
    .main-layout {
        margin: 0 auto;
        padding-right: 5%;
        padding-left: 5%;
    }
    .prev-next {
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media (max-width: 900px) {
    body {
        font-size: 20px;
    }
    .main-layout {
        margin: 0 auto;
        padding-right: 2%;
        padding-left: 2%;
    }
    .card {
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin: 0;
        gap: unset;
    }
    .card .image {
        flex-basis: unset;
        max-width: unset;
        min-width: unset;
        flex-grow: 1;
        margin: 0;
    }
    .card .content {
        flex-basis: unset;
        max-width: unset;
        margin-bottom: 2rem;
    }
    .prev-next {
        margin-right: 2%;
        margin-left: 2%;
    }
    .main-header .main-nav>* {
        width: 5rem;
    }
    .main-header .logo {
        margin-right: 0;
    }
}

@media (max-width:740px) {
    .btn-menu {
        background: none;
        color: white;
        font-weight: 600;
        display: block;
        border: none;
        cursor: pointer;
        font-size: 1.6rem
    }
    .btn-menu .close {
        display: none;
    }
    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        border-inline-start: 1px solid #ccc;
        background-color: rgb(107, 103, 103);
        background-color: rgb(255 255 255 / 90%);
        width: 200px;
        transform: translateX(100%);
        transition: transform .6s;
        align-items: center;
        /* border: none */
    }
    body.menu-open .main-nav a {
        /* border-bottom: 1px black solid; */
        border-left: none;
        color: black;
        margin-top: 2rem;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
    body.menu-open .btn-menu {
        opacity: 0
    }
    body.menu-open .card-btn,
    body.menu-open .social-icons {
        z-index: -1;
    }
    body.menu-open .btn-menu-close {
        display: inline-block;
        z-index: 1;
        background: none;
        color: #1e1e1e;
        font-weight: 600;
        display: block;
        border: none;
        cursor: pointer;
        font-size: 1.6rem
    }
    body.menu-open .main-header {
        position: fixed;
        width: 100%;
    }
}